@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-header {
    background-color: #004add;
    margin-left: 0px;
    margin-right: -30px;
    margin-top: -32px; 
    position: sticky;
    height: 175px;
}


.search-box {
    background-color:#dfe9f4;
    justify-content: space-between;
    width: 330px;
    height: 38px;
    display: flex;
    float: right;
    border-radius: 50px;
    padding-top: 50px;
    padding: 0px 20px;
    cursor: pointer;
    text-align: left;
    margin-top: 90px;
    margin-right: 150px;
    position: relative;
}

input {
    font-family: "Montserrat", sans-serif;
    padding-right: 5px;
    width: 280px;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    color: #255773;
}

.fa-solid {
    margin-top: 12px;
    padding-left: 5px;
    opacity: 0.4;
}

.fa-solid:hover {
    color: #004add;
    cursor: pointer;
}

.logo {
    height: 138px;
    margin-right: auto;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: 23px;
    
}

nav { 
    background-color: #0b6def;
    position: relative;
    margin-left: -45px;
    margin-right: -30px;
    height: 48px;
    box-shadow: 0px 20px 50px rgb(19, 13, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 10%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 143px;
    margin: 10px;
    padding: 6px 18px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
    position: relative;
}

nav ul li a {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #0088a9;
    text-decoration: none;
    display: block;
}

nav ul li:hover {
    background-color: rgb(211, 231, 244);
}

nav ul li a:hover {
    color: #255773;
}

.dropdown {
    display: none;
    list-style: none;
    left: 0px;
    top: 38px;
    padding: 2px 2px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
    position: absolute;
    z-index: 999;
}

.dropdown li {
    margin: 0;
    border-radius: 10px;
    display: block;
    padding: 8px 8px 8px 8px;
    width: 100%;
}

.dropdown li a {
    text-align: left;
    text-wrap: nowrap;  
}

nav ul li:hover ul{
    display: block;
}

.container {
    padding: 0rem;
}

.slider-wrapper {
    position: relative;
    margin-left: -50px;
    margin-right: -30px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior:auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    border: solid 1px rgba(255, 255, 255, 0.44);
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform:translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

title { 
    font-size: 200px;
    text-align: center;
}   

.bottom-div {
    background-color: #a6ebfab1;
    background-image: linear-gradient(to right,rgba(223, 241, 252, 0.391), rgba(27, 36, 108, 0.456) );
    height: 270px;
    width: 100%;
    bottom: 0;
    backdrop-filter: blur(5px);
    display: grid;
    place-items: left;
}

.border {
    background-color: #142c5c;
    margin-top: 18px;
    height: 15px;
    width: 100%;
}


.bottom-title {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    color: #02102c;
}

.bottom-text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    color: #041f54;
    padding-left: 0px;
}

.bg {
    width: 102%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
}

.admin {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #051d49;
    margin-bottom: 10px;
}

.admin_name {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 35px;
    color: #143571;
    font-weight: bold;
}

.admin_ {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 5px;
    color: #102b5d;
    font-size:x-large;
}

.admin_1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 8px;
    color: #102b5d;
    font-size:xx-large;
}

.text_title {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-top: 8px;
    color: #102b5d;
    font-size: 30px;
    padding-left: 55px;
    margin-bottom: 10px;
}

.admin_position {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 8px;
    color: #143571;
}

#img_admin {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.admin_wrapper {
    display: grid;
    place-items: center;
}


.img_history {
    display: grid;
    height: fit-content;

}

#img_his {
    margin-top: 35px;
    height: 500px;
    margin-left: 55px;
    padding-bottom: 20px;
}

.history_wrapper {
    display: grid;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.history_text {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: #102b5d;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 40px;
    padding-right: 55px;
    line-height: 30px;
}

.txt_history {
    margin-top: 40px;
}

.img_holder {
    align-items: center;
    place-items: center;
    justify-content: center;
    display:flex;
}

.img_title {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #102b5d;
    font-size:x-large;
    padding-left: 40px;
    padding-bottom: 10px;
}

.feat_col {
    float: left;
}

.feat_row {
    align-items: center;
    place-items: center;
    justify-content: center;
    display:flex;
}

.feat_title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #102b5d;
    font-size:large;
    padding-bottom: 10px;
}

#img_feat {
    margin-top: 35px;
    height: 500px;
    margin: 55px;
    margin-bottom: 0%;
    padding-bottom: 20px;
}

.feat_text {
    font-family: "Montserrat", sans-serif;
    text-align:center;
    margin-top: 8px;
    color: #102b5d;
    font-size: 30px;
    margin-bottom: 10px;
}

.vmg {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    color: #051d49;
    margin-bottom: 10px;
}

.vmg_p {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: #102b5d;
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
    margin: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.vmg_note {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: #102b5d;
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
    margin: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: bold;
}

.hymn {
    width: 40%;
    margin: 50px;
}

.hymn_wrapper {
    display: grid;
    place-items: center;
}

#img_admissions {
    display: grid;
    place-items: center;
    margin-top: 20px;
    width: 85%;
}

.adm {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: left;
    margin-top: 50px;
    margin-left: 200px;
    color: #051d49;
    margin-bottom: 10px;
}


.admissions_p {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: #102b5d;
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
    margin: 300px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 30px;
}


.video-container {
    width: 80%; /* Set the width to 50% of the viewport */
    max-width: 100%; /* Optional: Set a maximum width to prevent the video from exceeding its native resolution */
    height: 100vh; /* Set the height to 100% of the viewport's height */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the contents of the container horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the video vertically within the container */
}

video {
    width: 100%; /* Set the video width to 100% of the parent container */
    height: auto; /* Maintain the video's aspect ratio */
}

.jedi-arnis {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 315px;
}

.aero-nautical {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 23px;
}

.psychology {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 23px;
}

.rev-psych {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 23px;
}

.physics {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 315px;
}

.architecture {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 23px;
}

.bartending {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 23px;
}

.cosmetology {
    height: 300px;
    margin-right: auto;
    padding-top: 23px;
    padding-left: 23px;
}

.service_wrapper {
    display: grid;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.img_service {
    display: grid;
    height: fit-content;
}

.service_wrapper {
    display: grid;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#img_service {
    margin-top: 35px;
    height: 500px;
    margin-left: 55px;
    padding-bottom: 20px;
}

.text_service {
    margin-top: 40px;
}

.service_text {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: #102b5d;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 40px;
    padding-right: 55px;
    line-height: 30px;
    margin-top: 10px;
}

.service_title {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #102b5d;
    font-size:x-large;
    padding-left: 40px;
    margin-top: 180px;
}